/*With Bootstrap3*/
/*ul.album {
    background: #545454;
    overflow: hidden;
    padding: 20px 10px 20px 0;
}
.album h2 {
    color: #FFF;
    margin: 0 0 15px 15px;
}
li{
    list-style-type: none;
}
.album li{
    color: #FFF;
}*/

/*With Angular Material*/