<!--With Bootstrap3-->
<!--<div class="row">
    <div class="col-sm-6">
        <router-outlet name="list"></router-outlet>
    </div>
    <div class="col-sm-6 gutter-50">
        <router-outlet name="detail"></router-outlet>
    </div>
</div>-->

<!--With Angular Material-->
<div class="columns">
    <md-card>
        <router-outlet name="list"></router-outlet>
    </md-card>
    <md-card>
        <router-outlet name="detail"></router-outlet>
    </md-card>
    <!--Aggiungere card per inserimento-->
</div>